<!--<div class="card">
    <div class="photo">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/3b/36/ca/3b36ca3afe0fa0fd4984b9eee2e154bb.jpg">
    </div>
    <div class="description">
      <h2>Classic Peace Lily</h2>
      <h4>Popular House Plant</h4>
      <h1>$18</h1>
      <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
      <button>Add to Cart</button>
      <button>Wishlist</button>
    </div>
  </div>-->
  <div id="cards" class="ui link cards" style="text-align: center;position: relative;max-width: 1000px;justify-content: center;margin: auto;">
    <template id="template-card">
        <div class="card" style="max-width: 200px;">
        <div class="image">
            <img style="max-width: 100%;" src="https://cdn3.iconfinder.com/data/icons/computing-technology/75/Tablet-RAD-512.png" />
        </div>
        <div class="content">
            <div id="card-name" class="header">Tablet</div>
            <div id="card-codigo" class="meta"><a> Codigo: 85621348</a></div>
            <div id="card-description" class="description"> Esta es una tablet muy genial </div>
        </div>
        <div class="extra content">
            <span id="card-price" class="left floated"><b>Precio: $1499</b></span>
            <span id="card-stock" class="right floated"> Stock: 42 </span>
        </div>
        <div style="cursor: pointer;" id="card-action-buy" class="button btn-dark">
            <i class="add icon"></i>
            Comprar
        </div>
        </div>
    </template>
  </div>