
<div id="cart_div">
  <h3> Mi carrito! </h3>
    <% if (typeof user_data !== 'undefined') { %>
        <button style="background-color: #f38282; margin: 5px;" class="btn btn-sm" id="buy-carrito">
          Finaliza tu compra! 
        </button>
        <button class="but_clearCart">
          <i style="cursor: pointer;" class="far fa-trash-alt"> </i>
        </button>
        <h2 style="margin: 15px;"> TOTAL: $<b id="total_price"> </b> </h2>
    <% } else{ %>  
        <button style="background-color: #f38282; margin: 5px" class="btn btn-sm">
          <a style="text-decoration: none; color: white" href="/api/login-register"> ¡REGISTRATE! </a>
        </button>
    <% } %>
</div>
