<header>
    <nav class="navbar d-flex justify-content-center navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item active">
              <a class="nav-link" href="/api/index"> Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/carrito"> Carrito </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/form"> Agrega productos </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/login-register">Login</a>
          </li>
          </ul>
        </div>
      </nav>
</header>