<header>
    <nav class="nav_bar">
        <div class="flex_nav_div">
          <ul class="flex_ul_div">
            <li class="nav-item active">
              <a href="/"> Inicio </a>
            </li>
            <li class="nav-item">
              <a href="/api/productos">Productos</a>
            </li>
            <% if (typeof user_data !== 'undefined' && user_data.rol === 'admin') { %>
              <li class="nav-item">
                <a href="/api/form"> Agrega productos </a>
              </li>
            <% } %>
            <% if (typeof user_data !== 'undefined') { %>
              <li class="nav-item">
                <a href="/api/logout">Logout</a>
              </li>
              <b>Welcome <%= user_data.name %></b>
            <% } else{ %>  
              <li class="nav-item">
                <a href="/api/login-register">Login</a>
              </li>
           <% } %>
          </ul>
        </div>
      </nav>
</header>